<div class="app-wrapper">
  <app-navbar></app-navbar>

  <main>
    <section id="home">
      <app-home></app-home>
    </section>
    
    <section id="productos">
      <app-products></app-products>
    </section>
    
    <section id="acerca-de">
      <app-about-us></app-about-us>
    </section>
    
    <section id="servicios">
      <app-services></app-services>
    </section>
    
    <section id="contacto">
      <app-contact></app-contact>
    </section>
  </main>

  <app-whatsapp></app-whatsapp>
  <app-footer></app-footer>
</div>